.center-heading {
  text-align: center;
}

.custom-table {
  border: 1px solid white; /* White border color */
  width: 50%;
  height: 600px;
  margin: 0 auto; /* Center the table horizontally */
  background-color: DodgerBlue; /* Blue background color */
  color: white; /* White text color */
}

.custom-table td {
  background-color: DodgerBlue;
  border: 1px solid white;
  color: black;
}

