.editasset-container {
    width: 60%; /* Set the width as needed */
  margin: 0 auto; /* Center align the container */
  padding: 20px;
  border: 1px solid red;
  }

  .main-heading {
    text-align: center;
    font-size: 35px;
  } 

  .side-heading {
    font-size: 25px;
    font-weight: 600;
  }
  
  .edit-field {
    /* display: flex;
    align-items: center; */
    margin-bottom: 10px;
  }
  
  .edit-label {
    width: 150px;
  }
  
  .edit-input {
    margin-left: 10px;
    width : 150px;
    height: 30px;
  }
  
  .edit-button {
    margin-top: 10px;
  }
  