.editasset-container {
  width: 80%; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  border: 1px solid #ddd;
  padding-top: 30px;
}


.edit-container {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  width: 100%;
}


.edit-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.edit-field {
  width: 45%; 
  margin-bottom: 20px;
  margin-right: 5%; 
  box-sizing: border-box; 
}

/* .edit-field:last-child {
  margin: 0;
} */

.edit-field-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.edit-label {
  margin: 10px;
  width: 370px;

}

.edit-input {
  width: 80%; 
  height: 50px;
  padding-left: 15px;
  border-radius: 7px;
  background-color: rgb(236, 234, 234);
  border: none;
}
.edit-submit {
  width: 150px;
  height: 40px;
  margin: 20px; 
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

