/* styles.css

.table {
  width: 50% !important;
  margin: 0 auto;
  text-align: center;
}

.button {
  border: none;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 520px;
  cursor: pointer;
  background-color: #ffff00;
  width: 15%;
  text-decoration: underline;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

.btn-xl {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

.center-heading {
  text-align: center;
} */
