* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  height: 100vh;
}

.app-sidebar {
  width: 15%;
  height: 100%;
  background-color: rgba(17, 24, 39);
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.app-content {
  width: 85%;
  height: 100%;
  overflow: auto;
}

/* For from on new Assets css*/
.center-heading {
  text-align: center;
}

.custom-table {
  border: 1px solid white; /* White border color */
  width: 50%;
  height: 600px;
  margin: 0 auto; /* Center the table horizontally */
  background-color: DodgerBlue; /* Blue background color */
  color: white; /* White text color */
  border-radius: 10px;
}

.custom-table td {
  background-color: DodgerBlue;
  border: 1px solid white;
  color: black;
}

.sidebar {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 20px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-brand {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.sidebar-link {
  display: flex;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  width: 100%;
}

.sidebar-link:hover {
  width: 100%;
  background-color: #495057;
}

.sidebar-dropdown {
  position: relative;
}

.sidebar-dropdown .sidebar-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #343a40;
  z-index: 1000;
}

.sidebar-dropdown:hover .sidebar-submenu {
  display: block;
}

.sidebar-submenu-item {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.sidebar-submenu-item:hover {
  background-color: #495057;
}

.active {
  background-color: #495057;
}

.app-header {
  background-color: #343a40;
  margin: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  padding: 8px;
}

.content {
  padding: 30px;
}

/* .profile {
  height: 45px;
  width: 45px;
  border-radius: 50px;
} */
.profile {
  border-radius: 50px;
  position: relative;
}

.profile-icon {
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  padding-bottom: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 60px; /* Adjust this value to position dropdown below the profile icon */
  right: 0;
  background-color: #343a40;
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu button {
  background: none;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #495057;
}

.sub-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #495057;
  list-style-type: none;
  margin: 0;
}

.sub-option-link {
  display: block;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  width: 100%;
}

.sub-option-link:hover {
  background-color: #343a40;
}

.sidebar-link .arrow-icon {
  margin-left: auto;
}

.profile-link {
  background: none;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
}

.profile-link:hover {
  background-color: #495057;
}


.edit-profile {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.input-table {
  width: 100%;
}

.input-table td {
  padding: 8px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.assets{
  margin: 0;
  width: 250px;
  height: 50px;
  background-color: rgb(37, 99, 235);
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: larger;
}

.purchase-dashboard{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #495057;
}

